header {
    display: flex; 
    justify-content:space-between; 
    align-items: center;
    padding: 10px 20px;
}


header h1 {
    margin: 0;

}

nav a{color:#000	
/*background-color heredado de body*/
}

header{
	background-color:#BCECE0;
	/*background-color heredado de body*/
}

header h1{ 
color:#000;
	/*background-color heredado de body*/
}

nav a:hover {
    color: #003366; 
}

nav a.active {
    color: #8F004A; 
    font-weight: bold; 
    border-bottom: 2px solid #8F004A; 
}

h1 a{text-decoration: none;
	font-size:1.5em;
	color:#000;
	/*background-color heredado de body*/
}