/* Zinedine Ãlvarez Sais  UO294258*/

/* Especificidad = 001 */
body {
    font-family: Verdana, sans-serif;
    background-color: #F0F2F3;
    color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* Especificidad = 013 */
h3+p a:link {
    text-decoration: none;
    color: #000;
}

/* Especificidad = 013 */
h3+p a:visited {
    text-decoration: none;
    color: #800080;
}

/* Especificidad = 013 */
h3+p a:hover {
    text-decoration: underline;
    color: #FF0000;
}

/* Especificidad = 001 */
ol {
    list-style-type: upper-roman;
    font-size: 0.9em;
    margin-left: 1vw;
}

/* Especificidad = 001 */
ul {
    list-style-type: square;
    font-size: 0.9em;
    margin: 1vh;
}

/* Especificidad = 002 */
ul li {
    margin-bottom: 1vh;
}

/* Especificidad = 001 */

h4 {
    margin-left: 1vh;
}

/* Especificidad = 002 */
dl dt {
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
    padding: 0.5vw;
    text-decoration: underline;
}

/* Especificidad = 002 */
dl dd {
    font-size: 0.8em;
}



/* Especificidad = 001 */
video {
    width: 100%;
    height: auto;
}

/* Especificidad = 001 */
img {
    width: 100%;
    height: auto;
}



/* Especificidad = 002 */
h3+canvas {
    width: 100%;
    height: 30vh;
    display: block;
    background: #CBE6EF;
}


/* Especificidad = 001 */
table {
    border: 0.2vw solid #000;
    width: 100%;
    border-collapse: collapse;
}

/* Especificidad = 001 */
th {
    background-color: #BCECE0;
    text-align: left;
    padding: 0.5vw;
    font-weight: bold;
    
}
/* Especificidad = 001 */

td{
    border: 0.1vh solid black; 
}

/* Especificidad = 001 */
caption {
    margin: 1vh;
}




/* Especificidad = 002 */
section>div {
    height: 70vh;
    max-width: 100vw;
    margin: 2vh;
}

/* Especificidad = 001 */

section {
    margin: 1vh;
}

/* Especificidad = 002 */
div>img {
    width: 50%;
    height: auto;
}

/* Especificidad = 001 */
button {
    padding: 1vh;
    margin: 1vh;
}

/* Especificidad = 002 */
body>article {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    justify-content: center; 
    margin: 1vh;
}

/* Especificidad = 003 */
body>article>img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
    object-fit: contain;
    background-color: #BCECE0;
}

/* Especificidad = 003 */
body>article>button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Especificidad = 013 */
body>article>button:active {
    transform: scale(1.1);
}

/* Especificidad = 013 */
body>article>button:nth-of-type(2) {
    top: 50%;
    left: 2%;
}

/* Especificidad = 013 */
body>article>button:nth-of-type(1) {
    top: 50%;
    right: 2%;
}