/* Zinedine Álvarez Sais  UO294258*/
/* Especificidad = 001 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    background-color: #BCECE0;
}

/* Especificidad = 002 */
header+p {
    font-size: 0.75em;
}

/* Especificidad = 002 */
header h1 {
    margin: 1vh;
}

/* Especificidad = 002 */
nav a {
    padding: 1vw;
    color: #000;
    margin: 1vh 0 ;
    /*background-color heredado de body*/
}

/* Especificidad = 001 */
h1 {
    color: #000;
    margin-bottom: 1vh;
    /*background-color heredado de body*/
}

/* Especificidad = 012 */
nav a:hover {
    color: #003366;
    font-weight: bold;
}

/* Especificidad = 012 */
nav a.active {
    color: #8F004A;
    font-weight: bold;
}

/* Especificidad = 002 */
h1 a {
    text-decoration: none;
    font-size: 1.5em;
    color: #000;
    /*background-color heredado de body*/
}


@media screen and (max-width: 600px) {

    /* Especificidad = 001 */
    h1 {
        font-size: 1em;
    }

    /* Especificidad = 002 */
    header+p {
        display: none;
    }

    /* Especificidad = 001 */
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* Especificidad = 002 */
    header nav {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
}