/* Zinedine Ãlvarez Sais  UO294258*/
/* Especificidad = 002 */
section>section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    gap: 1vw;
    padding: 2vh;
    max-width: 100vw;
}

/* Especificidad = 001 */
article {
    display: flex;
    flex-direction: column;
    /*color de primer plano heredado del body*/
    background-color: #CBE6EF;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}


/* Especificidad = 002 */
article p {
    font-size: 1em;
    margin: 1rem;
}



/* Especificidad = 002 */
section>h4 {
    grid-column: -1/1;
}

