/* Zinedine Ãlvarez Sais  UO294258*/

/* Especificidad = 001 */
main {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 80%;
    justify-items: center;
    align-items: center;
}

/* Especificidad = 002 */
main>h2 {
    grid-column: 1 / -1;
    text-align: center;
}

/* Especificidad = 002 */
main>p {
    grid-column: 1 / -1;
    text-align: center;
}

/* Especificidad = 002 */
/*color de primer plano  heredado del body*/
main>div {
    background-color: #0007;
    border: 0.5vw solid #000;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
}

/* Especificidad = 002 */
/*color de fondo  heredado del body*/
main>button {
    width: auto;
    max-width: 100%;
    align-self: center;
    justify-self: center;
    padding: 0;
    font-size: 1.2vw;
    color:#003366 ;
}

/* Especificidad = 011 */
button:first-of-type {
    grid-column: 2 / span 1;
}

/* Especificidad = 011 */
button:nth-of-type(2) {
    grid-column: 3 / span 1;
}

/* Especificidad = 022 */
main.load div:first-of-type {
    animation: turnOn 0.5s;
    animation-fill-mode: forwards;
}

/* Especificidad = 022 */
main.load div:nth-of-type(2) {
    animation: turnOn 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

/* Especificidad = 022 */
main.load div:nth-of-type(3) {
    animation: turnOn 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

/* Especificidad = 022 */
main.load div:nth-of-type(4) {
    animation: turnOn 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

/* Especificidad = 022 */
main.unload div:first-of-type {
    animation: out 0.1s;
    animation-fill-mode: forwards;
}

/* Especificidad = 022 */
main.unload div:nth-of-type(2) {
    animation: out 0.1s;
    animation-fill-mode: forwards;
}

/* Especificidad = 022 */
main.unload div:nth-of-type(3) {
    animation: out 0.1s;
    animation-fill-mode: forwards;
}

/* Especificidad = 022 */
main.unload div:nth-of-type(4) {
    animation: out 0.1s;
    animation-fill-mode: forwards;
}

@keyframes turnOn {

    /* Cambio el color de fondo del div */
    from {
        background-color: #0007;
    }

    to {
        background-color: #ff0000;
    }
}


@keyframes out {

    /* Cambio el color de fondo del div  y se esta heredando del body el de primer plano*/
    from {
        background-color: #ff0000;
    }

    /* Hereda el color de primer plano del body y Cambio el color de fondo del div */
    to {
        background-color: #0007;
    }
}

/* Especificidad = 002 */
/* Hereda el color de primer plano del body */
form {
    width: auto;
    max-width: 30vw;
    padding: 2vw;
    border: 0.1em solid #000;
    border-radius: 0.5em;
    background-color: #CBE6EF;
    margin: 1vh auto;
}

/* Especificidad = 001 */
label {
    display: block;
    margin-bottom: 1vh;
    font-size: 1em;
}

/* Especificidad = 001 */
input {
    display: block;
    width: 100%;
    font-size: 1em;
    border: 0.3vh solid #000;
    border-radius: 0.3vw;
}

/* Especificidad = 001 */
section {
    display: flex;
    justify-content: center;
    height: 100%;

}

/* Especificidad = 002 */
section ol {
    display: inline-block;
    text-align: left;
}